misc/.env
misc/todo.md
misc/newIdeaOffline.md
misc/node_modules/
misc/info.pdf
node_modules/
eslint.config.mjs
.vscode/
.vscode/settings.json
supabase/
misc/
./animeFillerListApi/node_modules/
./emailWorker/node_modules/
./seederAi/node_modules/
./statsWorker/node_modules/
./vibes/node_modules/
